# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
__debug*

# macos
# --- macOS System Files ---
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# Code coverage profiles and other test artifacts
*.out
coverage.*
coverage_*
*.coverprofile
profile.cov
services.log
services.pid

# Go workspace file
go.work
go.work.sum

# env/aws file
.env
.aws
.clinerules

# misc folders
artifacts/
backups/
logs/